<!-- importar a arquivo header.ejs -->
<%- include ('partials/header.ejs') %>

<body>
    <!-- importar a arquivo navbar.ejs -->
    <%- include ('partials/navbar.ejs') %>
    <h1>Projeto Exemplo Node.js - JS01</h1>

</body>
<!-- importar a arquivo footer.ejs -->
<%- include ('partials/footer.ejs') %>